{% extends "main/base.html" %}
{% block body %}
  {% verbatim %}
    <div class="row">

        <div class="col-xs-12 well" ng-repeat="i in items | searchFor:searchString">
          <div class="col-md-7">
  		          <h2 class="featurette-heading">{{ i.name }}</h2>
  		          <p>{{i.title}} </p>
  		          <p><a class="btn btn-success" href="{{i.url}}" role="button"> К рецепту &raquo;</a></p>
  		        </div>
  		        <div class="col-md-5">
  		          <img class="featurette-image img-responsive center-block" ng-src="{{i.image}}" alt="Здесь могла быть ваша реклама ;)">
  		        </div>
  		      </div>
        </div>

    </div>
  {% endverbatim %}
{% endblock %}
